body {
    background-color: #000000;
    color: #FFFFFF;
    font-family: Inter, sans-serif;
}

h1 {
    font-family: Inter, sans-serif;
    
}

.title {
    color: #6A0DAD;
}

btn {
    background-color: #C0C0C0;
}

#leagueform {
    background-color: #6A0DAD;
    border-radius: 10px;
    color: white;
}

img {
    margin: 10px;
}

input {
    border-radius: 5px;
}