{% extends "base_generic.html" %}
{% load static %}
{% block content %}
    <link rel="stylesheet" href="{% static 'css/analysisstyle.css' %}"> 
    <div class="mt-4 col-md-6 offset-md-3">
        <h1 class="text-center">Analysis</h1>
        <p class="mt-3">
            A team's weekly expected wins is the percentage of teams that they would have beaten 
            that week. It is calculated by taking a team's rank in the league - 1 and dividing that 
            by the size of the league - 1. For example, if a leauge has 11 members, and a team ranks
            6th on a given week, then their E(W) is 0.5. If a team ranks firs, E(W) = 1, and if they
            rank last, E(W) = 0.
        </p>
        {{ exp_wins_g|safe }}
        <p class="mt-3">
            Combining expected wins with actual wins can give us a better idea of how 
            lucky/unlucky a team is. For example, if a team could have only beaten one other team 
            (low E(W)) and they win that week (W = 1), then [W - E(W)]  would be close to 1. 
            Or, if a team could have beaten most teams in the league, but they lose, E(W) is a
            decimal close to 1, W = 0, so [W - E(W)] is close to -1. Add [W - E(W)] for every 
            week, and you get an idea of how lucky a team has been overall, where a negative number
            indicates a team has been unlucky, and a positive number indicates a team has been lucky.
        </p>
        {{ ew_diff_g|safe }}
        <p class="mt-3">
            Taking the total of [W - E(W)] for all weeks, we can find the likelihood of this difference
            occurring by standardizing to binomial distribution. Each game is either won or lost based 
            on a team's E(W) for that given week. So after n trials (number of weeks), what are the 
            odds that you are at least [W - E(W)] from the mean. In this case, the mean is 0, as without any luck,
            E(W) = W, so W - E(W) = 0. The teams that had a [W - E(W)] above zero (more lucky) are farther left, and 
            the teams with a [W - E(W)] below zero (more unlucky) are to the right.
        </p>
        {{ luck_g|safe }}
        <p class="mt-3">
            Bonage index aims to capture how much a team gets boned each week. A team's BI is calculated by the 
            following: size of league - weekly rank of opponent + 1. For example, if a team in a 10 man league matches 
            up against the team that ends up scoring the second most points that week, their BI would be 10 - 2 + 1,
            giving them a BI of 9 that week.
        </p>
        {{ bi_g|safe }}
        <p class="mt-3">
            Standard deviation over a team's scores all season measures their consistency. More consistent teams are toward the
            bottom, while cosistent teams are toward the top.
        </p>
        {{ consistency_g|safe }}
    </div>
{% endblock %}
